# Node modules
node_modules/

# Cypress artifacts
cypress/screenshots/
cypress/videos/

# Playwright artifacts
playwright-report/
test-results/

# Selenium / Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Logs
*.log

# Reports
allure-results/
allure-report/
mochawesome-report/

# Environment files
.env
